<!DOCTYPE html>
<html>
    <head>
<title>@ViewData["Title"] - myapp1</title>
    </head>
    <body>
        The Body
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>