@{
    ViewData["Title"] = "Home Page";
}
<div>Hi From View</div>
<div id="react-app">Loading...</div>
<div id="fillthiswithjquery"></div>

@section scripts {
 <script src="~/dist/bundle.js"></script>  
}